@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --background: #F6EDD9;
    --background-footer: #EAE2CF;
    --nav_color: #FFFFFF;
    --text_color: #000000;
    --text_color_white: #FFFFFF;
    --btn_color: #C57B57;
    --white: white;
}

body {
    background-color: var(--background);
    margin: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    width: 500px;
    height: 50px;
    gap: 25px;
    align-items: center;
}

.menu li {
    list-style: none;
}

.menu a {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--text_color);
    text-decoration: none;
}

.menu a:hover {
    color: var(--btn_color);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 24px;
    width: 180px;
    height: 45px;
    /* Taille nav  - Taille bordure */
    border: 2px solid var(--btn_color);
}

.btn a {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--btn_color);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--btn_color);
}

.btn a:hover {
    color: var(--text_color_white);
}

.contexte {
    display: flex;
    justify-content: center;
}

.conteneur-contexte {
    width: 900px;
    height: 500px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-color: var(--white);
}

.conteneur-contexte h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 450;
    font-size: 40px;
    text-align: center;
}

#description {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    padding-left: 20px;
    font-size: 20px;
}

#sub_title {
    text-align: center;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.bilan-mission-text {
    margin: 40px 100px 50px 100px;
}

.bilan-mission-text h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 450;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}

.bilan-mission-text {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: 20px;
}

.bilan-mission-amelioration h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 450;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}

.bilan-contenaire {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 100px;
}

.contenaire-amelioration {
    padding: 30px;
    border-radius: 30px;
    background-color: var(--white);
    width: 50%;
}

.contenaire-conclusion {
    border-radius: 30px;
    padding: 30px;
    background-color: var(--white);
    width: 30%;
}

.conteneur-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
    height: 250px;
    background-color: var(--background-footer);
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    border-radius: 50px 50px 0 0;
    font-size: 17px;
}

.conteneur-footer p {
    width: 500px;
}

.conteneur-footer li {
    list-style: none;
}

.conteneur-footer a {
    text-decoration: none;
    color: var(--text_color);
}

.conteneur-footer a:hover {
    color: var(--btn_color);
}