@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap');

:root {
    --background: #F8F8F8;
    --background-footer: #2B2828;
    --nav_color: #FFFFFF;
    --text_color: #000000;
    --text_color_white: #FFFFFF;
    --btn_color: #C57B57;
    --white: white;
    --black: #2B2828;
    --gris: #929292;
}

/* Menu Burger */
label, #toggle {
    display: none;
}

body {
    background-color: var(--background);
    margin: 0;
}

/* NavBar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    width: 500px;
    height: 50px;
    gap: 25px;
    align-items: center;
}

.menu li {
    list-style: none;
}

.menu a {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--text_color);
    text-decoration: none;
}

.menu a:hover {
    color: var(--gris);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border-radius: 24px;
    width: 180px;
    height: 45px;
    border: 2px solid var(--black);
}

.btn a {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--text_color);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--black);
}

.btn a:hover {
    color: var(--text_color_white);
}

.intro {
    display: flex;
    justify-content: center;
}

/* Conteneur Intro - Conceptions & Design */

.conteneur-intro {
    width: 1300px;
    height: 700px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-color: var(--black);
}

.conteneur-intro h1 {
    font-family: "Antonio", sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: var(--white);
}

#description {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    padding-left: 20px;
    font-size: 25px;
    color: var(--white);
}

/* Partie texte - ORGANISATION DU SITE */

.orga-site-text {
    margin: 40px 100px 50px 100px;
}

.orga-site-text h1 {
    font-family: "Antonio", sans-serif;
    font-style: Bold;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    margin-top: 80px;
}

.orga-site-text strong {
    font-size: 30px;
}

.orga-site-text {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: 25px;
}


/* Footer */

.conteneur-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
    height: 250px;
    background-color: var(--background-footer);
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    border-radius: 50px 50px 0 0;
    font-size: 17px;
    color: var(--text_color_white);
}

.conteneur-footer p {
    width: 500px;
}

.conteneur-footer li {
    list-style: none;
}

.conteneur-footer a {
    text-decoration: none;
    color: var(--text_color_white);
}

.conteneur-footer a:hover {
    color: var(--gris);
}


/* Responsive */
@media all and (max-width: 991px){


/* Menu Burger */
.menu {
    display: none;
}

label {
    display: flex;
    justify-content : center;
    font-size : 40px;
    color : var(--black);
}

label, #toggle:checked ~ .menu{
    display: flex;
    flex-direction: column;
    z-index: 3;
    height: 250px;
}

/* Contenaire Intro - Conceptions & Design */
.conteneur-intro{  
    width: 80%;
    height: 100%;
}

/* Responsive Footer */
.conteneur-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.conteneur-footer p {
    width: 80%;
}


}